body{
	padding: 0;
	margin: 0;
	background-image: url('img/fond.png');
}

#sectionBody{
	width: 50%;
	margin: auto;
	background-color: white;
	padding: 10px;
}

header{
	background-color: #BFD83B;
	width: 51%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}





nav ul{
	display: flex;
	list-style-type: none;
}

nav li{
	margin: 15px;
}

nav a{
	text-decoration: underline;
	color: black;
}


section a{
	text-decoration: underline;
	color: black;
}



.titreAndPhoto img{
	width: 5%;
}

#titreWho{
	color: #BFD83B;
}

#imgWho{
	width: 22%;
	float: left;
	margin: 10px;
}

.butonReadMore{
	position: relative;
	left: 650px;
	width: 10%;
	height: 20px;
	background-color: #BFD83B;
	padding: 10px;
}

.butonReadMore a{
	text-decoration: none;
	color: white;
}


#titreWhat{
	color: #BFD83B;
}

#imgWhat{
	width: 22%;
	float: left;
	margin: 10px;
}

